.row.all-conversations
  .small-12.columns
    %h2.page-title Your matches
    %ul.large-block-grid-3
      %table.centered
        -@favorites.each do |favorite|
          %tr
            %td
              %li= link_to(image_tag(favorite.other_user(current_user).image),
                user_path(favorite.other_user(current_user)))
            %td
              %li= link_to('Message', favorite)
              %h3= favorite.other_user(current_user).display_name
              %span= favorite.other_user(current_user).age

