.row
  .large-10.columns.large-centered
    %h1 Your Matches!

.row#show-all-users
  .large-10.columns.large-centered
    -if user_signed_in?
      %ul.large-block-grid-3
        %table.centered
          -@favorites.each do |favorite|
            %tr
              %td
                %li= link_to(image_tag(favorite.other_user(current_user).image),
                  user_path(favorite.other_user(current_user)))
              %td
                %li= link_to('Message', favorite)
                %h3= favorite.other_user(current_user).display_name
                %span= favorite.other_user(current_user).age

