.row.single-conversation
  .small-3.columns
    %img.profile-picture{src:current_user.image}
  .small-6.columns
    .header
      %h2 Your messages with #{@favorite.other_user(current_user).display_name}
    -@messages.each do |msg|
      .message{class: msg.message_class(current_user)}
        .message-body= msg.msg
        %p.message-info #{time_ago_in_words(msg.created_at)} ago

    %form#message-form{"data-favorite_id" => @favorite.id}
      %input#message{type: "text"}
      %input{type: "submit"}
  .small-3.columns
    %img.profile-picture{src:@favorite.other_user(current_user).image}
