.row
  .large-2.columns
  .large-8.columns
    %h1 Get Dated Upon!
    -if !user_signed_in?
      %h3= link_to "sign in", user_omniauth_authorize_path(:spotify)
    -else
      %h5= link_to "sign out", destroy_user_session_path, method: :delete

.row#show-all-users
  .large-1.columns
  .large-10.columns
    -if user_signed_in?
      %ul.large-block-grid-3
        -@users.each do |user|
          %li
            = link_to(user.name, user_path(user))
          .main-page-score
