/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation
 *= require_tree .
 *= require_self
 */


$spotify-green: #75C92B;
$spotify-sand: #ECEBE8;
$light-green: #DAE6CC;
$slab: 'Bitter', serif;
$sans: 'Raleway', sans-serif;

.user-profile {
  .profpic {
    vertical-align: top;
  }
  form, .top-info {
    display: inline-block;
  }
  margin-top: 5px;
}

.match-info {
  background: $spotify-green;
}

.your-match {
  img, .user-info {
    display: inline-block;
  }
}

// IMPORTANT DEFAULT STUFF
html, body {
  min-height: 100%;
  background: black;
  font-family: $sans;
  h1, h2, h3, h4, h5, h6 {
    font-family: $slab;
  }
  ul {
    list-style: none;
  }
  .everything {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .master-row {
    padding-top: 10px;
    position: relative;
    background: white;
    min-height: 80%;
  }
}

.page-title {
  text-align: center;
}

// NAVBAR STUFF
.top-bar, .contain-to-grid {
  background: $spotify-sand;
  font-size: 16px;
  .name h1 a {
    color: black;
    font-size: 25px;
    font-family: $slab;
    font-weight: bold;
  }
  .top-bar-section li:not(.has-form) a:not(.button) {
    background: $spotify-sand;
    font-family: $slab;
    color: black;
    font-size: 16px;
    &:hover {
      background: $light-green;
    }
  }
  .top-bar-section li:not(.has-form).omg a:not(.button) {
    background: $spotify-green;
    font-size: 18px;
    color: white;
  }
}


