/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation
 *= require_tree .
 *= require_self
 */


$spotify-green: #75C92B;
$spotify-sand: #ECEBE8;
$light-green: #DAE6CC;
$dark-sand: #B9B3AF;
$slab: 'Bitter', serif;
$sans: 'Raleway', sans-serif;

.user-profile {
  .profpic {
    vertical-align: top;
  }
  form, .top-info {
    display: inline-block;
  }
  margin-top: 5px;
}

.match-info {
  background: $spotify-green;
}

.your-match {
  img, .user-info {
    display: inline-block;
  }
}

// IMPORTANT DEFAULT STUFF
html, body {
  min-height: 100%;
  background: black;
  font-family: $sans;
  h1, h2, h3, h4, h5, h6 {
    font-family: $slab;
  }
  ul {
    list-style: none;
  }
  .everything {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .master-row {
    padding-top: 10px;
    position: relative;
    background: white;
    min-height: 100%;
  }
}

.page-title {
  text-align: center;
}

// NAVBAR STUFF
.top-bar, .contain-to-grid {
  background: $spotify-sand;
  font-size: 16px;
  .name h1 a {
    color: black;
    font-size: 25px;
    font-family: $slab;
    font-weight: bold;
  }
  .top-bar-section li:not(.has-form) a:not(.button) {
    background: $spotify-sand;
    font-family: $slab;
    color: black;
    font-size: 16px;
    &:hover {
      background: $light-green;
    }
  }
  .top-bar-section li:not(.has-form).omg a:not(.button) {
    background: $spotify-green;
    font-size: 18px;
    color: white;
  }
}

.user-profile {
  display:none;
  .profpic{
    border: 2px solid black;
  }
  text-align: center;
  h4{
    background: $spotify-sand;
  }
  .yourfave {
    background: none;
    border-bottom: 2px solid $spotify-green;
  }
  .match-info{
    border: 2px solid black;
    h3{
      background:black;
      color: $spotify-sand;
    }
  }
  .your-music {
    text-align: left;
    .category {
      color: $spotify-green;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }

}

.welcome {
  position:relative;
  .innerwelcome{
    position:absolute; top:50%; height: 150px; margin-top:80px;
    text-align: center;
    width: 100%;
    #welcometitle{
      display:none;
      font-size: 90px;
      color: $spotify-green
    }
    #byline{
      display:none;
      font-size: 50px;
    }
    #loginbutton{
      display:none;
      width: 351px;
      height: 65px;
    }
  }
}

#show-all-users {
  // ERIC PUTS STUFF HERE

  display: none;
  position: relative;

  .page-title {
      color: $spotify-green;
      border-bottom: 3px solid black;
    }

  .your-match.row {
    position: relative;
    border-bottom: 1px solid black;
    p {
      margin-bottom: 5px;
    }
    .artist-preferences {
      p {
        color: $spotify-green;
        margin-top: 8px;
      }
      span {
        padding: 0px 10px 0px 0px;
      }
    }
  }

  img {
    vertical-align: top;
  }

  .user-info h3 {
    display: inline-block;
  }

  .small-10.columns {
    position: relative;
    padding-bottom: 8px;
    left: 50px;
  }

  .small-2.columns h3 {
    position: absolute;
    top: 25px;
    font-weight: bold;
    color: $spotify-green;
    font-size: 30px;
    font-family: $slab;
  }

}

.edit-profile {
  // ERIC PUTS STUFF HERE

  .medium-4.columns {
    .controls {
      max-width: 100px;
    }
    #location {
      max-width: 200px;
    }
    #bio {
      max-width: 300px;
    }
    #user_bio {
      height: 150px;
    }
  }

  .medium-8.columns {
    img {
      height: 275px;
      border: 1px solid black;
    }
    .medium-9.columns {
      margin-top: 12px;
      h4 {
        margin-top: -10px;
      }
    }
  }

  .submit-button {
    margin-top: 10px;
    left: 30px;
    background-color: $spotify-green;
  }

}

#add-email {

  .medium-4.columns {
    .controls {
      max-width: 100px;
    }
    #location {
      max-width: 200px;
    }
    #bio {
      max-width: 300px;
    }
    #user_bio {
      height: 150px;
    }
  }

  .medium-8.columns {
    img {
      height: 275px;
      border: 1px solid black;
    }
    .medium-9.columns {
      margin-top: 12px;
      h4 {
        margin-top: -10px;
      }
    }
  }

  .submit-button {
    margin-top: 10px;
    left: 30px;
    background-color: $spotify-green;
  }


}

.single-conversation {
  .header {
    width: 100%;
    border-bottom: 2px solid $spotify-green;
    margin-bottom: 5px;
  }
  .conversation-box {
    overflow: auto;
    max-height: 800px;
  }
  .message {
    .message-body {
      font-size: 120%;
    }
    .message-info {
      color: $dark-sand;
    }
    &.received {
      text-align: right;
    }
  }
  .profile-picture {
    border-radius: 100%;
    border: none;
    max-width: 200px;
    text-align: center;
  }
  .music-info {
    h4 {
      border-bottom: 1px solid $dark-sand;
    }
    .category {
      color: $spotify-green;
      text-transform: uppercase;
      font-size: 90%;
      &.score {
        font-size: 20px;
      }
    }
    .score {
      font-size: 38px;
      line-height: 105%;
    }
    p {
      margin-bottom: 0;
    }
    ul {
      margin-left: 0;
    }
  }
  #message-form {
    text-align: center;
  }
  .button {
    background: $spotify-green;
  }
}

.all-conversations {
  img {
    width: 100%;
  }
  h3, p {
    // margin-bottom: 0;
  }
  .profile-link {
    text-align: right;
  }
  .navigation, h3 {
    display: inline-block;
  }
  .navigation {
    font-size: 20px;
    a {
      color: $spotify-green;
    }
  }
  .new-message {
    color: $dark-sand;
    span {
      font-style: italic;
      font-size: 120%;
    }
    i {
      position: relative;
      bottom: 8px;
    }
  }
  p.page-title {
    border-bottom: 2px solid $spotify-green;
  }
}

.button {
  background: $spotify-green;
}
