body{
  // background: black;
  .row {
    background: white;
  }

  .top-bar .name h1 a {
    color: white;
    font-family: 'Indie Flower', cursive;
   }

  h1{
    font-family: 'Indie Flower', cursive;
    text-align: center;
  }

  ul {
    list-style-type: none;
  }

}
